<%-  include("header") -%>
    <div class="todo-container">

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 mt-1">
                <div class="card">
                    <div class="header">
                        <div id="date">
                            <%= new Date().toLocaleDateString("en-US", {weekday: "long", month: "short",day: "numeric", year: "numeric" });%>
                        </div>
                    </div>

                    <div class="card-header">
                        <h2>MY TO DO LIST</h2>
                    </div>

                    <div class="todo">
                        <form action="/" method="POST" class="todo-header">
                            <input type="text" placeholder="Add a Todo.." name="content">
                            <button type="submit"><span class="fas fa-plus"></span></button>
                        </form>

                        <ul class="todo-list">
                            <% todoTasks.forEach(details => { %>
                                <li class="todo-list-item">
                                    <div class="todo-list-item-name">
                                        <%= details.content %>
                                    </div>
                                    <a href="/edit/<%=details._id %>" class="edit">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a href="/remove/<%=details._id %>" class="remove">
                                        <span class="fas fa-times"></span>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                        <div class=" pagination">
                            <div class="page1"> <a href="/?page=1">Page 1 <span><i class="fa fa-chevron-right"></i></span></a></div>

                            <div class="page2"> <a href="/?page=2">Page 2 <span><i class="fa fa-chevron-right"></i></span></a></div>

                            <div class="page3"> <a href="/?page=3">Page 3 <span><i class="fa fa-chevron-right"></i></span></a></div>

                            <div class="az"> <a href="/AtoZ"><i class="fas fa-sort-alpha-up"></i> </a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <%-  include("footer") -%>